<ion-header mode="ios" no-border>
  <ion-navbar mode="ios" color="blue">
    <ion-title mode="ios">
      <div>
        <div style="float:left;width:50%;text-align: right;padding-right: 10px;">
          <img height="35" style="margin-top: 4px;" src="assets/imgs/logo.png">
        </div>
        <div style="float:right;width:50%;text-align: left;line-height: 45px;font-size: 20px;">
          Links
        </div>
      </div>
    </ion-title>
    <ion-buttons end royal>
      <button ion-button icon-only (click)="logout()" color="primary">
        Logout
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="blue">
    <ion-segment color="light" (ionChange)="onSegmentChange(tab)" [(ngModel)]="tab">
      <ion-segment-button value="application" (click)="select('all')" style="font-size: 13px;">
        Application List
      </ion-segment-button>
      <ion-segment-button *ngIf="type != 'company_report'" value="product" (click)="select('Approved')" style="font-size: 13px;">
        Product List
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div *ngIf="type == 'account_receivable'" class="box" style="background: #c55a11;width: 300px;margin: 0 auto;margin-bottom: 15px;">應收賬款 Account Receivables</div>
  <div *ngIf="type == 'tax_return'" class="box" style="background: #ffc000;width: 300px;margin: 0 auto;margin-bottom: 15px;">退稅 Tax Return</div>
  <div *ngIf="type == 'company_report'" class="box" style="background: #00b0f0;width: 300px;margin: 0 auto;margin-bottom: 15px;">公司報告 Company Report</div>
  <div class="outer" scroller>
    <div class="inner">
      <table>
        <tr>
          <th></th>
          <th text-center *ngFor="let header of fields">
            {{definition[header]}}
          </th>
        </tr>
        <tr *ngFor="let d of data; let i = index;">
          <td text-center>{{i+1}}</td>
          <td text-center *ngFor="let header of fields">
            <span *ngIf="(d[header] == null || d[header] == '0' || d[header] == '1' || d[header] == 'Pending') && header == 'status'" (click)="showConfirm(d,i)">
              <ion-badge color="primary">
                Pending
              </ion-badge>
            </span>
            <span *ngIf="header == 'status' && d[header] == 'Approved'" (click)="showConfirm(d,i)">
              <ion-badge color="secondary">
                Approved
              </ion-badge>
            </span>
            <span *ngIf="header == 'status' && d[header] == 'Rejected'" (click)="showConfirm(d,i)">
              <ion-badge color="danger">
                Rejected
              </ion-badge>
            </span>
            <span *ngIf="d[header] && header != 'status'">
              {{d[header]}}
            </span>
            <!--         <div *ngIf="header == 'information' && tab == 'application'" text-center color="dark">
          <ion-icon name="ios-list-box-outline" style="font-weight: bold;"></ion-icon>
        </div> -->
            <div *ngIf="header == 'information'" text-center color="dark">
              <ion-icon (click)="showAction(d,i)" name="ios-list-box-outline" style="font-weight: bold;"></ion-icon>
            </div>
            <div *ngIf="header == 'report_upload'" text-center color="dark">
              <label [for]="d.id">Upload</label>
              <input (change)="uploadReport($event,d,i)" type="file" [name]="d.id" [id]="d.id" class="report" />
              <!-- <button ion-button color="dark" block outline (click)="uploadReport(d,i)">Upload</button> -->
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</ion-content>
