<ion-header mode="ios" no-border>
  <ion-navbar mode="ios" color="blue">
    <!--     <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title mode="ios">
      <div>
        <div style="float:left;width:50%;text-align: right;padding-right: 10px;">
          <img height="35" style="margin-top: 4px;" src="assets/imgs/logo.png">
        </div>
        <div style="float:right;width:50%;text-align: left;line-height: 45px;font-size: 20px;">
          Links
        </div>
      </div>
    </ion-title>
    <ion-buttons end royal>
      <button ion-button icon-only (click)="logout()" color="primary">
        Logout
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="reg">Apply 申請</div>
  <ion-row no-padding>
    <ion-col col col-12 offset-md-3 col-md-6 offset-lg-4 col-lg-4 col-xl-4 offset-xl-4>
      <div style="padding-top:50px;width: 80%;margin: 0 auto">
        <!--     <div class="box" style="background: #c55a11" (click)="select('AccountPage')" [class.activeHighlight]="checkActive('AccountPage')">應收賬款 Account Receivables</div>
    <div class="box" style="background: #ffc000" (click)="select('TaxPage')" [class.activeHighlight]="checkActive('TaxPage')">退稅 Tax Return</div>
    <div class="box" style="background: #00b0f0" (click)="select('CompanyPage')" [class.activeHighlight]="checkActive('CompanyPage')">公司報告 Company Report</div> -->
        <ion-row>
          <ion-col col col-9>
            <div class="box" style="background: #c55a11" (click)="select('AccountPage')">應收賬款 <br>Account Receivables</div>
          </ion-col>
          <ion-col col col-3>
            <div class="square">
              {{numbers.account_receivable_count}}
            </div>
          </ion-col>
          <ion-col col col-9>
            <div class="box" style="background: #ffc000" (click)="select('TaxPage')">退稅 <br>Tax Return</div>
          </ion-col>
          <ion-col col col-3>
            <div class="square">
              {{numbers.tax_return_count}}
            </div>
          </ion-col>
          <ion-col col col-9>
            <div class="box" style="background: #00b0f0" (click)="select('CompanyPage')">公司報告 <br>Company Report</div>
          </ion-col>
          <ion-col col col-3>
            <div class="square">
              {{numbers.company_report_count}}
            </div>
          </ion-col>
        </ion-row>
        <!-- <div class="box" style="background: #00b0f0" (click)="admin()">Admin</div> -->
        <div text-center>
          <button class="butt" (click)="segment()">详细 Details </button>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer no-padding no-margin mode="ios">
  <div style="background:#2575b5;text-align: center;color:white;padding: 14px;">Copyright 2019</div>
</ion-footer>
