page-login {
  .reg {
    text-decoration: underline;
    text-align: center;
    font-size: 22px;
  }

  input {
    text-align: center;
    width: 100%;
    border: 2px solid #2575b5;
    border-radius: 5px;
    padding:6px 10px;
    margin-bottom: 10px;
  }

  .butt {
    padding: 6px 10px;
    background: #2575b5;
    margin: 2px 0 2px 10px;
    text-align: center;
    color: white;
  }

  .forgot {
    width: 60%;
    float: left;
    line-height: 35px;
    text-align: center;
  }
}
