<ion-header mode="ios" no-border>
  <ion-navbar mode="ios" color="blue">
    <!--     <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title mode="ios">
      <div>
        <div style="float:left;width:50%;text-align: right;padding-right: 10px;">
          <img height="35" style="margin-top: 4px;" src="assets/imgs/logo.png">
        </div>
        <div style="float:right;width:50%;text-align: left;line-height: 45px;font-size: 20px;">
          Links
        </div>
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="reg">Login 登入</div>
  <ion-row no-padding>
    <ion-col col col-12 offset-md-3 col-md-6 offset-lg-4 col-lg-4 col-xl-4 offset-xl-4>
  <form [formGroup]="form">
    <div style="padding-top:50px;width: 80%;margin: 0 auto">
      <input type="text" formControlName="email_id" name="email" placeholder="Email">
      <input type="password" formControlName="password" name="password" placeholder="Password">
      <div style="width: 100%;clear: both">
        <div style="width: 60%;float:left">
          <input type="text" formControlName="quote" name="quote" placeholder="">
        </div>
        <div style="width: 40%;float:left">
          <div class="butt" (click)='getQuote()'>Quote</div>
        </div>
      </div>
      <div style="width: 100%;clear: both">
        <div (click)="forgot()" style="width: 60%;float:left" class="forgot">
          Forgot Password?
        </div>
        <div style="width: 40%;float:left">
          <div class="butt" (click)='login()'>Sign in</div>
        </div>
      </div>
    </div>
  </form>
</ion-col>
</ion-row>
</ion-content>
<ion-footer no-padding no-margin mode="ios">
  <div style="background:#4472c4;text-align: center;color:white;padding: 14px;">Copyright 2019</div>
</ion-footer>
