<ion-header mode="ios" no-border>
  <ion-navbar mode="ios" color="blue">
    <ion-title mode="ios">
      <div>
        <div style="float:left;width:50%;text-align: right;padding-right: 10px;">
          <img height="35" style="margin-top: 4px;" src="assets/imgs/logo.png">
        </div>
        <div style="float:right;width:50%;text-align: left;line-height: 45px;font-size: 20px;">
          Links
        </div>
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="reg">Registration 注冊</div>
  <ion-row no-padding>
    <ion-col col col-12 offset-md-3 col-md-6 offset-lg-4 col-lg-4 col-xl-4 offset-xl-4>
      <form [formGroup]="form">
        <div style="padding-top:50px;width: 80%;margin: 0 auto">
          <input type="text" formControlName="comp_name" name="comp_name" placeholder="Company Name">
          <input type="number" formControlName="comp_mob" name="comp_mob" placeholder="Telephone Number">
          <input type="text" formControlName="email_id" name="email_id" placeholder="Email">
          <input type="password" formControlName="password" name="password" placeholder="Password">
          <input type="password" formControlName="password2" name="password2" placeholder="Confirm Password">
          <div text-center>
            <div class="butt" (click)='submit()'>Send</div>
            <!-- <button ion-button>Send</button> -->
          </div>
        </div>
      </form>
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer no-padding no-margin mode="ios">
  <div style="background:#4472c4;text-align: center;color:white;padding: 14px;">Copyright 2019</div>
</ion-footer>
