<ion-header mode="ios" no-border>
  <ion-navbar mode="ios" color="blue">
    <!--     <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title mode="ios">
      <div>
        <div style="float:left;width:50%;text-align: right;padding-right: 10px;">
          <img height="35" style="margin-top: 4px;" src="assets/imgs/logo.png">
        </div>
        <div style="float:right;width:50%;text-align: left;line-height: 45px;font-size: 20px;">
          Links
        </div>
      </div>
    </ion-title>
    <ion-buttons end royal>
      <button ion-button icon-only (click)="logout()" color="primary">
        Logout
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div style="padding-top:10px;width: 80%;margin: 0 auto">
    <ion-row no-padding>
      <ion-col col col-12 offset-md-3 col-md-6 offset-lg-4 col-lg-4 col-xl-4 offset-xl-4>
        <form [formGroup]="form">
          <div class="box" style="background: #00b0f0">公司報告 Company Report</div>
          <input type="text" formControlName="buyer_name" name="buyer" placeholder="Buyer Name 買家名稱">
          <input type="text" formControlName="country" name="country" placeholder="Country 国家">
          <input type="text" formControlName="address" name="address" placeholder="Address 地址">
          <input type="text" formControlName="reg_number" name="reg_number" placeholder="Registration Number (if any) 公司注册号  (如有)">
          <!--         <input type="text" formControlName="type_report" name="type_report" placeholder="Type of Report 报告种类"> -->
          <ion-item no-lines no-padding no-margin>
            <ion-select formControlName="type_report" name="type_report" style="text-align: center;width: 100%;border: 2px solid #2575b5;border-radius: 5px;padding: 6px 10px;margin-bottom: 10px;" placeholder="Type of Report 报告种类">
              <ion-option value="China Basic Company Report (no financial)">China Basic Company Report (no financial)&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
                中国基本公司报告(无财务数据)
              </ion-option>
              <ion-option value="China Company Report 中国公司报告">
                China Company Report &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
                中国公司报告
              </ion-option>
              <ion-option value="Hong Kong Company Report 香港公司报告">Hong Kong Company Report&#160;&#160; 香港公司报告
              </ion-option>
              <ion-option value="Overseas Company Report 海外公司报告">Overseas Company Report &#160;&#160;&#160;&#160; &#160;海外公司报告
              </ion-option>
            </ion-select>
          </ion-item>
          <div text-center>
            <button [disabled]="form.invalid" class="butt" (click)="next()">Send</button>
            <!-- <button ion-button>Send</button> -->
          </div>
        </form>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
<ion-footer no-padding no-margin mode="ios">
  <div style="background:#4472c4;text-align: center;color:white;padding: 14px;">Copyright 2019</div>
</ion-footer>
