page-company {
  .reg {
    text-decoration: underline;
    text-align: center;
    font-size: 22px;
    color: #2575b5;
  }
  input {
    text-align: center;
    width: 100%;
    border: 2px solid #2575b5;
    border-radius: 5px;
    padding:6px 10px;
    margin-bottom: 10px;
  }
  .box {
    border: 2px solid #2575b5;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
    color: white;
  }

  .butt {
  	width: 100px;
  	margin: 10px auto;
    padding: 6px 10px;
    font-size: 18px;
    background: #2575b5;
    text-align: center;
    color: white;
  }
ion-select{
        max-width: 100% !important;
        min-width: 100% !important;
    }

.alert-md .alert-head {
    display: none !important;
}    

.alert-md .alert-message:empty {
    display: none !important;
}

div .alert-md .alert-head {
    display: none !important;
}

}
