page-home {
  .reg {
    text-decoration: underline;
    text-align: center;
    font-size: 22px;
  }

  input {
    text-align: center;
    width: 100%;
    border: 2px solid #2575b5;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
}
