<ion-content padding>
  <div style="border: 4px solid red;padding: 5px;width: 300px;font-size: 20px;margin: 0 auto;">
    <span *ngIf="type == 'account_receivable'">
      應收賬款產品<br>
      Account Receivables Product
    </span>
    <span *ngIf="type == 'tax_return'">
      出口退稅產品<br>
      Tax Return Product
    </span>
  </div>
  <div id="exportContent">
    <div style="padding: 5px;width: 280px;font-size: 14px;margin: 0 auto;">
      <div style="background: #4472c4;
    border: 1px solid #222;
    padding: 5px;
    color: white;
    margin-top: 20px;
    border-radius: 5px;">
        基本資料 Product Information
      </div>
      <div style="border: 2px solid #4472c4;padding: 10px;margin-top: 5px;font-size: 12px;height: 110px;">
        <div *ngIf="type == 'account_receivable'">
          <table width="100%">
            <tr>
              <td text-left>回款方 (Buyer):</td>
              <td text-right>{{record.buyer_name}}</td>
            </tr>
            <tr>
              <td text-left>金額 (Invoice Amount):</td>
              <td text-right>{{record.invoice_amount}}</td>
            </tr>
            <tr>
              <td text-left>貨幣 (Currency):</td>
              <td text-right>{{record.data_currency}}</td>
            </tr>
            <tr>
              <td text-left>賬期 (Term):</td>
              <td text-right>{{record.data_term}}</td>
            </tr>
            <tr>
              <td text-left>到期日 (Due Date):</td>
              <td text-right>{{record.due_date}}</td>
            </tr>
<!--             <tr>
              <td text-left>類別 (Type):</td>
              <td text-right></td>
            </tr> -->
            <tr>
              <td text-left>產品 (Goods/Service):</td>
              <td text-right></td>
            </tr>
          </table>

        </div>
        <div *ngIf="type == 'tax_return'">
          <table width="100%">
            <tr>
              <td text-left>出口目的地 (Country):</td>
              <td text-right>{{record.data_country}}</td>
            </tr>
            <tr>
              <td text-left>退稅金額 ( Tax-return Amount):</td>
              <td text-right>{{record.invoice_amount}}</td>
            </tr>
            <tr>
              <td text-left>退稅省份 (Tax-return Province):</td>
              <td text-right>{{record.data_country}}</td>
            </tr>
            <tr>
              <td text-left>到期日 (Due Date):</td>
              <td text-right>{{record.due_date}}</td>
            </tr>
          </table>
        </div>
      </div>
      <div style="background: #4472c4;
    border: 1px solid #222;
    padding: 5px;
    color: white;
    margin-top: 20px;
    border-radius: 5px;">
        买家资料 Buyer Information
      </div>
      <div style="border: 2px solid #4472c4;padding: 10px;margin-top: 5px;font-size: 12px;height: 100px;">
        <div>
<!--           <table width="100%">
            <tr>
              <td></td>
            </tr>
          </table> -->
          <div>{{text}}</div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <button ion-button navPop color="secondary" (click)="Export2Doc()" clear>Export to doc</button>
  <button ion-button navPop color="danger" clear>Close</button>
</ion-footer>
