page-tax {
  .reg {
    text-decoration: underline;
    text-align: center;
    font-size: 22px;
    color: #2575b5;
  }
  input {
    text-align: center;
    width: 100%;
    border: 2px solid #2575b5;
    border-radius: 5px;
    padding:6px 10px;
    margin-bottom: 10px;
  }
  .box {
    border: 2px solid #2575b5;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
    color: white;
  }

  .butt {
  	width: 100px;
  	margin: 10px auto;
    padding: 6px 10px;
    background: #2575b5;
    font-size: 18px;
    text-align: center;
    color: white;
  }
input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}
}
