<ion-header mode="ios" no-border>
  <ion-navbar mode="ios" color="blue">
    <!--     <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title mode="ios">
      <div>
      	<div style="float:left;width:50%;text-align: right;padding-right: 10px;">
      	  <img height="35" style="margin-top: 4px;" src="assets/imgs/logo.png">
      	</div>
      	<div style="float:right;width:50%;text-align: left;line-height: 45px;font-size: 20px;">
        	Links
        </div>
      </div>
    </ion-title>
    <ion-buttons end royal>
      <button ion-button icon-only (click)="logout()" color="primary">
        Logout
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div style="padding-top:10px;width: 80%;margin: 0 auto">
    <ion-row no-padding>
      <ion-col col col-12 offset-md-3 col-md-6 offset-lg-4 col-lg-4 col-xl-4 offset-xl-4>
      <form [formGroup]="form">
    <div class="box" style="background: #ffc000">退稅 Tax Return</div>
        <input type="text" formControlName="buyer_name" name="buyer" placeholder="Buyer Name 買家名稱">
        <input type="text" onkeydown="return ( event.ctrlKey || event.altKey 
                    || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) 
                    || (95<event.keyCode && event.keyCode<106)
                    || (event.keyCode==8) || (event.keyCode==9) 
                    || (event.keyCode>34 && event.keyCode<40) 
                    || (event.keyCode==46) )" formControlName="invoice_amount" name="amount" placeholder="Invoice Amount 發票金額">
        <input type="text" formControlName="data_country" name="data_country" placeholder="Export Country 出口国家">
        <input type="text" formControlName="data_term" name="term" placeholder="Term 账期 (days)">
<!--         <input type="date" class='center' formControlName="due_date" name="inputDate" #inputDate placeholder="Due Date 到期日"> -->
<!--         <input placeholder="Due Date 到期日" class="textbox-n" formControlName="due_date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date"> -->
        <input placeholder="Due Date 到期日 dd/mm/yyyy" class="textbox-n" formControlName="due_date" type="text" id="date">
        <div text-center>
          <button [disabled]="form.invalid" class="butt" (click)="next()">Next</button>
          <!-- <button ion-button>Send</button> -->
        </div>
      </form>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
<ion-footer no-padding no-margin mode="ios">
  <div style="background:#2575b5;text-align: center;color:white;padding: 14px;">Copyright 2019</div>
</ion-footer>

