.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #ffffff;
    background-color: transparent;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}

button,
h1,
h2,
h3,
h4,
p,
ion-title,
ion-label,
ion-input,
ion-select,
ion-option,
ion-datetime,
ion-textarea,
div {
  font-weight: bold;
}

.alert-md .alert-radio-label, .alert-ios .alert-radio-label {

    white-space: normal !important;

}


.alert-md .alert-head {
    display: none !important;
}    

.alert-md .alert-message:empty {
    display: none !important;
}

div .alert-md .alert-head {
    display: none !important;
}


.alert-md .alert-button-group {
.alert-md .alert-button {
    padding: 5px !important;
}
.alert-button  {
    padding: 5px !important;
}
[ion-button] {
    text-decoration: none;
    padding: 5px !important;
}
  .alert-wrapper {
    min-width: 100px !important;
}
.alertbox .alert-wrapper {
    min-width: 100px !important;
}
}
  
.alertbox {
.alert-md .alert-button {
    padding: 5px !important;
        text-align: center !important;
}
.alert-button  {
    padding: 5px !important;
        text-align: center !important;
}
[ion-button] {
    text-decoration: none;
    padding: 5px !important;
        margin-right: 10px;
        text-align: center !important;
}
  .alert-wrapper {
    min-width: 100px !important;
    text-align: center !important;
}
.alertbox .alert-wrapper {
    min-width: 100px !important;
        text-align: center !important;
}

span {
	display: table;
}
}