<ion-header mode="ios" no-border>
  <ion-navbar mode="ios" color="blue">
    <!--     <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title mode="ios">
      <div>
        <div style="float:left;width:50%;text-align: right;padding-right: 10px;">
          <img height="35" style="margin-top: 4px;" src="assets/imgs/logo.png">
        </div>
        <div style="float:right;width:50%;text-align: left;line-height: 45px;font-size: 20px;">
          Links
        </div>
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="reg">Forgot 忘记</div>
  <ion-row no-padding>
    <ion-col col col-12 offset-md-3 col-md-6 offset-lg-4 col-lg-4 col-xl-4 offset-xl-4>
        <div style="padding-top:50px;width: 80%;margin: 0 auto">
          <input type="text" [(ngModel)]="email_id" name="email_id" placeholder="Email">
          <div text-center>
            <div class="butt" (click)='submit()'>Send</div>
            <!-- <button ion-button>Send</button> -->
          </div>
        </div>
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer no-padding no-margin mode="ios">
  <div style="background:#4472c4;text-align: center;color:white;padding: 14px;">Copyright 2019</div>
</ion-footer>
