<ion-header mode="ios" no-border>
  <ion-navbar mode="ios" color="blue">
    <!--     <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title mode="ios">
      <div>
        <div style="float:left;width:50%;text-align: right;padding-right: 10px;">
          <img height="35" style="margin-top: 4px;" src="assets/imgs/logo.png">
        </div>
        <div style="float:right;width:50%;text-align: left;line-height: 45px;font-size: 20px;">
          Links
        </div>
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div style="padding-top:10px;width: 80%;margin: 0 auto">
    <ion-row no-padding>
      <ion-col col col-12 offset-md-3 col-md-6 offset-lg-4 col-lg-4 col-xl-4 offset-xl-4>
        <div class="box" style="background: #c55a11">Documents Upload 文件提交</div>
        <!-- <form [formGroup]="formdoc"> -->
          <label for="contract">Contract 貿易合同</label>
          <input (change)="onFileSelected($event, 'contract')" [(ngModel)]="contract" type="file" name="contract" id="contract" />
          <label for="invoice">Invoice 發票</label>
          <input (change)="onFileSelected($event, 'invoice')" type="file" name="invoice" id="invoice">
          <label for="financial_reporto">3 years Financial Report 3年財務報告</label>
          <input (change)="onFileSelected($event, 'financial_reporto')" type="file" name="financial_reporto" id="financial_reporto">
          <label for="company_certificate">Company Certificate 營業執照</label>
          <input (change)="onFileSelected($event, 'company_certificate')" type="file" name="company_certificate" id="company_certificate">
          <label for="company_id">ID 身分證</label>
          <input (change)="onFileSelected($event, 'company_id')" type="file" name="company_id" id="company_id">
          <div text-center>
            <button [disabled]="keys != 5" class="butt" (click)="upload()">Next</button>
          </div>
        <!-- </form> -->
      </ion-col>
    </ion-row>
  </div>
</ion-content>
<ion-footer no-padding no-margin mode="ios">
  <div style="background:#4472c4;text-align: center;color:white;padding: 14px;">Copyright 2019</div>
</ion-footer>