page-companydocs {
  .reg {
    text-decoration: underline;
    text-align: center;
    font-size: 22px;
    color: #2575b5;
  }

  input {
    text-align: center;
    width: 100%;
    border: 2px solid #2575b5;
    border-radius: 5px;
    padding: 6px 10px;
    margin-bottom: 10px;
  }

  .box {
    border: 2px solid #2575b5;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    color: white;
  }

  .butt {
    width: 100px;
    margin: 10px auto;
    padding: 6px 10px;
    background: #2575b5;
    font-size: 18px;
    text-align: center;
    color: white;
  }

  label {
    cursor: pointer;
    display: block;
    text-align: center;
    width: 100%;
    border: 2px solid #2575b5;
    border-radius: 5px;
    padding: 6px 10px;
    margin-bottom: 10px;
  }

  #contract, #invoice, #financial_reporto, #company_certificate, #company_id {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }
}
