<ion-header mode="ios" no-border>
  <ion-navbar mode="ios" color="blue">
    <!--     <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title mode="ios">
      <div>
        <div style="float:left;width:50%;text-align: right;padding-right: 10px;">
          <img height="35" style="margin-top: 4px;" src="assets/imgs/logo.png">
        </div>
        <div style="float:right;width:50%;text-align: left;line-height: 45px;font-size: 20px;">
          Links
        </div>
      </div>
    </ion-title>
    <ion-buttons end royal>
      <button ion-button icon-only (click)="logout()" color="primary">
        Logout
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div style="padding-top:10px;width: 80%;margin: 0 auto">
    <ion-row no-padding>
      <ion-col col col-12 offset-md-3 col-md-6 offset-lg-4 col-lg-4 col-xl-4 offset-xl-4>
      <form [formGroup]="form">
    <div class="box" style="background: #c55a11">應收賬款 Account Receivables</div>
        <input type="text" formControlName="buyer_name" name="buyer" placeholder="Buyer Name 買家名稱">
        <input type="number" formControlName="invoice_amount" name="amount" placeholder="Invoice Amount 發票金額">
        <input type="text" formControlName="data_currency" name="currency" placeholder="Currency 貨幣">
        <input type="text" formControlName="data_term" name="term" placeholder="Term 账期 (days)">
        <input placeholder="Due Date 到期日 dd/mm/yyyy" class="textbox-n" formControlName="due_date" type="text" id="date">
        <div text-center>
          <button [disabled]="form.invalid" class="butt" (click)="next()">Next</button>
          <!-- <button ion-button>Send</button> -->
        </div>
      </form>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
<ion-footer no-padding no-margin mode="ios">
  <div style="background:#4472c4;text-align: center;color:white;padding: 14px;">Copyright 2019</div>
</ion-footer>
