<ion-header mode="ios" no-border>
  <ion-navbar mode="ios" color="blue">
    <ion-title mode="ios">
      <div>
        <div style="float:left;width:50%;text-align: right;padding-right: 10px;">
          <img height="35" style="margin-top: 4px;" src="assets/imgs/logo.png">
        </div>
        <div style="float:right;width:50%;text-align: left;line-height: 45px;font-size: 20px;">
          Links
        </div>
      </div>
    </ion-title>
    <ion-buttons end royal>
      <button ion-button icon-only (click)="logout()" color="primary">
        Logout
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="blue">
    <ion-segment color="light" (ionChange)="onSegmentChange(tab)" [(ngModel)]="tab">
      <ion-segment-button value="account_receivable" style="font-size: 13px;font-weight: bold;">
        應收賬款 Account Receivables
      </ion-segment-button>
      <ion-segment-button value="tax_return" style="font-size: 13px;font-weight: bold;">
        退稅 Tax Return
      </ion-segment-button>
      <ion-segment-button value="company_report" style="font-size: 13px;font-weight: bold;">
        公司報告 Company Report
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <!--     <div *ngIf="type == 'account_receivable'" class="box" style="background: #c55a11;width: 200px;margin: 0 auto;margin-bottom: 15px;">應收賬款 Account Receivables</div>
    <div *ngIf="type == 'tax_return'" class="box" style="background: #ffc000;width: 200px;margin: 0 auto;margin-bottom: 15px;">退稅 Tax Return</div>
    <div *ngIf="type == 'company_report'" class="box" style="background: #00b0f0;width: 200px;margin: 0 auto;margin-bottom: 15px;">公司報告 Company Report</div> -->
  <div class="outer" scroller>
    <div class="inner">
      <table>
        <tr>
          <th></th>
          <th text-center *ngFor="let header of object[tab]">{{definition[header]}}</th>
        </tr>
        <tr *ngFor="let d of data; let i = index;">
          <td text-center>{{i+1}}</td>
          <td text-center *ngFor="let header of object[tab]">
            <span *ngIf="!d[header] && header == 'status'">pending</span>
            <span *ngIf="d[header] && header == 'status'">{{d[header]}}</span>
            <span *ngIf="header != 'status' && header != 'report_url'">{{d[header]}}</span>
            <span *ngIf="header == 'report_url'"><a target="_blank" [href]="d[header]">Download</a></span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</ion-content>
