<ion-header mode="ios" no-border>
  <ion-navbar mode="ios" color="blue">
    <ion-title mode="ios">
      <div>
      	<div style="float:left;width:50%;text-align: right;padding-right: 10px;">
      	  <img height="35" style="margin-top: 4px;" src="assets/imgs/logo.png">
      	</div>
      	<div style="float:right;width:50%;text-align: left;line-height: 45px;font-size: 20px;">
        	Links
        </div>
      </div>
    </ion-title>
    <ion-buttons end royal>
      <button ion-button icon-only (click)="logout()" color="primary">
        Logout
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="reg">Hello Admin</div>
  <div class="reg">{{date | date:'dd/MM/yyyy'}}</div>
  <ion-row no-padding>
    <ion-col col col-12 offset-md-3 col-md-6 offset-lg-4 col-lg-4 col-xl-4 offset-xl-4>
  <div style="padding-top:50px;width: 80%;margin: 0 auto">
    <ion-row>
    <ion-col col col-9>
    <div class="box" style="background: #c55a11" (click)="segment('account_receivable')">應收賬款 <br>Account Receivables</div>
    </ion-col>
    <ion-col col col-3>
      <div class="square">
        {{numbers.account_receivable_count}}
      </div>
    </ion-col>
    <ion-col col col-9>
    <div class="box" style="background: #ffc000" (click)="segment('tax_return')">退稅 <br>Tax Return</div>
    </ion-col>
    <ion-col col col-3>
      <div class="square">
        {{numbers.tax_return_count}}
      </div>
    </ion-col>
    <ion-col col col-9>
    <div class="box" style="background: #00b0f0" (click)="segment('company_report')">公司報告 <br>Company Report</div>
    </ion-col>
    <ion-col col col-3>
      <div class="square">
        {{numbers.company_report_count}}
      </div>
    </ion-col>
    <ion-col col col-9>
    <div (click)='openUsers()' class="box" style="background: #92d050">登记数  <br>No. of Registration</div>
    </ion-col>
    <ion-col col col-3>
      <div class="square">
        {{numbers.total_users}}
      </div>
    </ion-col>
    </ion-row>
</div>
</ion-col>
</ion-row>
</ion-content>
<ion-footer no-padding no-margin mode="ios">
  <!-- <button ion-button block (click)="links()"></button> -->
  <div style="background:#2575b5;text-align: center;color:white;padding: 14px;">Copyright 2019</div>
</ion-footer>


