page-admin {
  .reg {
    text-decoration: underline;
    text-align: center;
    font-size: 22px;
    color: #2575b5;
    font-weight: bold;
  }

  .box {
    border: 2px solid #2575b5;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-size: 18px;
  }

  .butt {
  	width: 100px;
  	margin: 10px auto;
    padding: 10px 10px;
    background: #2575b5;
    text-align: center;
    font-size: 18px;
    color: white;
  }

.activeHighlight {
    border: 2px solid #222 !important;
  font-weight: bold !important;
}
  .square {
    border: 2px solid #4472c4;
    width: 65px;
    height: 65px;
    margin: 0 auto;
    line-height: 65px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
  }


}
