<ion-header mode="ios" no-border>
  <ion-navbar mode="ios" color="blue">
    <!--     <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title mode="ios">
      <div>
        <div style="float:left;width:50%;text-align: right;padding-right: 10px;">
          <img height="35" style="margin-top: 4px;" src="assets/imgs/logo.png">
        </div>
        <div style="float:right;width:50%;text-align: left;line-height: 45px;font-size: 20px;">
          Links
        </div>
      </div>
    </ion-title>
    <ion-buttons end royal>
      <button ion-button icon-only (click)="logout()" color="primary">
        Logout
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div *ngIf="type == 'account_receivable'" class="box" style="background: #c55a11;width: 300px;margin: 0 auto;margin-bottom: 15px;">登记数 No. of Registration</div>
  <div class="outer" scroller>
    <div class="inner">
      <table>
        <tr text-center>
          <th text-center>
            S No.
          </th>
          <th text-center>
            Reg Date
          </th>
          <th text-center>
            Email
          </th>
          <th text-center>
            Company Name
          </th>
          <th text-center>
            Mobile Number
          </th>
          <th text-center>
            Address
          </th>
        </tr>
        <tr text-center *ngFor="let user of users; let i = index;">
          <td text-center>
            {{i+1}}
          </td>
          <td text-center>
            {{user.created_date}}
          </td>
          <td text-center>
            {{user.email_id}}
          </td>
          <td text-center>
            {{user.comp_name}}
          </td>
          <td text-center>
            {{user.comp_mob}}
          </td>
          <td text-center>
            {{user.comp_address}}
          </td>
        </tr>
      </table>
    </div>
  </div>
</ion-content>
