page-users {


  .outer {
    position: relative;
    overflow-x: scroll;
    height: 100%;
    width: 100%;
  }
  .inner {
    overflow-y: visible;
    width: 100%;
  }
  .box {
    border: 2px solid #2575b5;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
    color: white;
  }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th {
  background-color: #4472c4;
  color: white;
}

th, td {
  text-align: left;
  padding: 16px;
  border: 1px solid #fff;
}

tr:nth-child(odd) {
  background-color: #e9ebf5
}
tr:nth-child(even) {
  background-color: #cfd5ea
}
}
