<ion-header mode="ios" no-border>
  <ion-navbar mode="ios" color="blue">
    <!--     <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title mode="ios">
      <div>
        <div style="float:left;width:50%;text-align: right;padding-right: 10px;">
          <img height="35" style="margin-top: 4px;" src="assets/imgs/logo.png">
        </div>
        <div style="float:right;width:50%;text-align: left;line-height: 45px;font-size: 20px;">
          Links
        </div>
      </div>
    </ion-title>
    <ion-buttons end royal>
      <button ion-button icon-only (click)="logout()" color="primary">
        Logout
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div style="padding-top:10px;width: 80%;margin: 0 auto">
    <ion-row no-padding>
      <ion-col col col-12 offset-md-3 col-md-6 offset-lg-4 col-lg-4 col-xl-4 offset-xl-4>
        <div class="box" style="background: #c55a11">Documents Upload 文件提交</div>
        <!-- <form [formGroup]="formdoc"> -->
        <label for="contract">Contract 貿易合同</label>
        <input (change)="onFileSelected($event, 'contract')" [(ngModel)]="contract" type="file" name="contract" id="contract" />
        <label for="invoice">Invoice 發票</label>
        <input (change)="onFileSelected($event, 'invoice')" type="file" name="invoice" id="invoice">
        <label for="proof_of_approval">Proof of Approval 退税批复</label>
        <input (change)="onFileSelected($event, 'proof_of_approval')" type="file" name="proof_of_approval" id="proof_of_approval">
        <label for="custom_declarition">Customs Declaration 报关单</label>
        <input (change)="onFileSelected($event, 'custom_declarition')" type="file" name="custom_declarition" id="custom_declarition">
        <label for="varification_list">Verification list 核销单</label>
        <input (change)="onFileSelected($event, 'varification_list')" type="file" name="varification_list" id="varification_list">
        <div text-center>
          <button class="butt" (click)="upload()">Next</button>
        </div>
  <div text-center padding>Or Send to: <span style="font-weight: bold;color:#c55a11;">sales@linksfactoring.com</span></div>
        <!-- </form> -->
      </ion-col>
    </ion-row>
  </div>
</ion-content>
<ion-footer no-padding no-margin mode="ios">
  <div style="background:#4472c4;text-align: center;color:white;padding: 14px;">Copyright 2019</div>
</ion-footer>
